:root {
    --main-bg-color: #022635;
    --font-color: #ffffff;
    --button-color: #54123B;
    
}

html {
    box-sizing: border-box;
    
   
}

*,
::before, ::after {
    box-sizing: inherit;
}

body{
    color: var(--font-color);
    user-select: none;
}

header[class*="header-section"]{
    background-color: #022635;
    margin:-1rem 0 0 0;
    padding:0;
    max-width:100%;
    height: auto;
    
    
}
.navbar {
    
    display: flex;
    padding: 0.5rem;

}

/* logo section */
section a {
    font-size: 3rem;
    color: var(--font-color);
    text-decoration: none;
    font-family: fantasy;
    margin: 0.3rem;
    padding:0.3rem;
    
}




/* navigation list */
ul[class*="nav-items"] {
   display: flex;
  flex-direction: row;
   flex-wrap: nowrap;
    flex:70%;
    justify-content: flex-end;
    margin: 0.5rem;
    padding: 1rem;
    list-style-type: none;
   
}
li a{
    margin: 0.3rem;
    text-decoration: none;
    color: var(--font-color);
}

li a:hover {
   background-color: #54123B;
   padding:0.5rem;
}
li a:focus {
    background-color: #54123B;
    padding:0.5rem;
}



.hero-section {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
}

.information-section {
    margin: 1rem;
    padding: 2rem;


}

section h1 {
    font-size: 3rem;
   
}
.description {
    margin-top: -2rem;
    line-height: 1.5;

}

.placeholder {
    width: 30rem;
    height: 20rem;
    margin: 0.5rem 0 2rem 5rem;
    background-image: url('Images/header-image.jpg');
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}
button[class*="btn-signup"]{
    padding: 8px 25px;
    cursor: pointer;
    background-color: #54123B;
    border: #54123B;
    border-radius: 5px;
    color: var(--font-color);
    font-weight: bolder;
}

/* header and navigation ends here */

/* main section */

main {
    color: #000000;
}

/* main section ends here */
